<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iWater - {% block title %}{% endblock %} </title>
    <!-- As a link -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta name="theme-color" content="transparent" />
</head>