{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{% macro input_label(name, label_text, id, placeholder='', value='', type='text',label_class='form-label fs-7', input_class='form-control form-control-sm') -%}
<div class="mb-3">
     <label for="{{name}}" class="{{label_class}}">{{label_text}}</label>
    <input class="{{input_class}}" type="{{ type }}" name="{{ name }}">
</div>
   
{%- endmacro %}

<div class="card">
    <div class="card-header">
        <div class="text-center">
            <h5>Login</h5>
        </div>            
    </div>
    <div class="card-body">
        <div class="container">
            {{ input_label(name='username',label_text='Username', id='txtUsername', placeholder='name@email.com') }}
            {{ input_label(name='password',label_text='Password',id='txtPassword', placeholder='password', type='password') }}
            <div class="d-flex justify-content-between">
                <input class="btn btn-primary btn-sm" type="submit" value="Login"> 
                <button type="button" class="btn btn-outline-dark opacity-50 btn-sm">Register</button>
            </div>                   
        </div>
    </div>
</div>
    
{% endblock %}