{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center bg-success bg-opacity-10 vh-100">
    <div class="card bg-transparent border border-secondary text-center">
        <div class="alert" role="alert">
            <h4 class="alert-heading text-success">Success!</h4>
            <p>All panchayat assets are completed</p>
        </div>
        <div class="d-flex justify-content-center my-5">
            <div class="d-flex border border-3 border-success rounded-circle align-items-center justify-content-center text-success box100by100 display-1">
                <i class="fa-solid fa-check"></i></div>
        </div>
        <a href="#" class="btn btn-success m-5">Continue</a>
    </div>
</div>
{% endblock %}