{% extends 'base.html' %}
{% block title %} CRUD {% endblock %}

{% block content %}
<div class="container">
    <div class="justify-content-center">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h6>Insert-View-Update-Delete</h6>
            </div>
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">View</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Add New</button>
                      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Edit</button>
                      <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false">Disabled</button>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <table class="table table-bordered mt-1">
                            <thead class="table-secondary">
                            <tr class="text-center">
                                <th>ID</th>
                                <th>Short Name</th>
                                <th>Project Number</th>
                                <th>From</th>
                                <th>Untill</th>
                                <th>Volume (&#8364;)</th>
                                <th>Project Type</th>
                                <th>Add/Update</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for project in projects%}
                                <tr>                       
                                    <td class="text-center">{{loop.index}}</td>
                                    <td>{{project.shortname}}</td>
                                    <td>{{project.project_number}}</td>
                                    <td class="text-center">{{project.from_date}}</td>
                                    <td class="text-center">{{project.to_date}}</td>
                                    <td class="text-end">{{'%0.2f'|format(project.comm_value)}}</td>
                                    <td>{{project.project_type}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-secondary btn-sm d-inline" value="{{project.id}}"><i class="bi bi-pencil-square"></i></button>
                                        <button class="btn btn-outline-danger btn-sm d-inline" value="{{project.id}}"><i class="bi bi-trash3"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Column Name</th>
                                    <th>Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key in projects[0].keys() %}
                                <tr>
                                    <td>
                                        {{key|capitalize}}
                                    </td>
                                    <td><input type="input" class="form-control" name="{{key}}"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="container text-center">
                            <button class="btn btn-outline-dark btn-sm">Cancel</button>
                            <button class="btn btn-primary btn-sm">Add Project</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0" name="select_project">
                        <div class="start-50 my-2">
                            <select class="form-select w-50" aria-label="Default select example" name="edit_project" onchange="getProject(this)">
                                <option selected>Open this select menu</option>
                                {% for project in projects %}
                                <option value="{{project.id}}">{{project.shortname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="projects_array">{{projects}}</div>
                        
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Column Name</th>
                                    <th>Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key in projects[0].keys() %}
                                <tr>
                                    <td>
                                        {{key|capitalize}}
                                    </td>
                                    <td><input type="input" class="form-control" name="{{key}}"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
                  </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    const projects = document.getElementById('projects_array').innerHTML;
    // console.log(projectId);
    function getProject(selectObject){
        const project_id = selectObject.value;
        console.log(project_id)
        const project = search(project_id, projects);
        console.log(project);
    }
    // const selectedProject = array.find((project) => project.id == highestPrice)
    function search(nameKey, myArray){
        console.log(myArray.length);
        for (let i=0; i < myArray.length; i++) {
            console.log(myArray);
            if (myArray[i].id === nameKey) {
                return myArray[i];
            }
        }
    }
</script>
{% endblock %}