{% extends 'base_financials.html' %}
{% block title %} Financials - Data Entry {% endblock %}
{% block content %}
<style>
    section#section-1 {
        background-image: url('/static/assets/landing-bg.jpg');
        min-height: 100vh;
    }

    select.minimal {
        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
    }

    .form-control::placeholder {
        color: #aaaaaa;
        font-weight: 300;
        font-size: 0.9em;
        opacity: 1;
    }

    #project-table {
        display: none;
    }

    /*select.minimal:focus {
        background-image:
          linear-gradient(45deg, green 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, green 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
      }*/
</style>
<section id="section-1" class="d-flex justify-content-center align-items-center">
    <div class="container mt-3">
        <form action="{{ url_for('.dataentry') }}" enctype="multipart/form-data">
            <div class="row jumbotron box8 text-light">
                <div class="col-sm-12 mx-t3 mb-4">
                    <h2 class="text-center">Monthly Expenses - NRM Projects</h2>
                </div>
                <div class="col-md-3">
                    <div class="col form-group mb-3">
                        <label for="project_id">Select Project Number</label>
                        <select id="project_id" name="project_id" class="form-control minimal">
                            {% for project in projects%}
                            {% if project['project_number'] %}
                            <option value="{{project['id']}}">{{project['project_number']}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="month_year">Select Month</label>
                        <select id="month_year" name="month_year" class="form-control minimal">
                            {% for dd_month in dd_months%}
                            <option value="{{dd_month}}">{{dd_month}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="fc_actuals">Fixed Cost</label>
                        <input type="input" class="form-control" name="fc_actuals" id="fc_actuals"
                            placeholder="Enter Fixed Cost expenses" required>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="rc_actuals">Running Cost</label>
                        <input type="input" class="form-control" name="rc_actuals" id="rc_actuals"
                            placeholder="Enter Running Cost expenses" required>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="ac_actuals">Activities</label>
                        <input type="input" class="form-control" name="ac_actuals" id="ac_actuals"
                            placeholder="Enter Activities expenses" required>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="ob_actuals">Obligoes</label>
                        <input type="text" class="form-control" name="ob_actuals" id="ob_actuals"
                            placeholder="Enter Obligoes expenses" required>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="vgk">VGK</label>
                        <input type="text" class="form-control" name="vgk" id="vgk" placeholder="Enter VGK" required>
                    </div>
                    <div class="col form-group mb-2">
                        <label for="advances">Adjustments (Advances/Recovery)</label>
                        <input type="text" class="form-control" name="advances" id="advances"
                            placeholder="Enter Advances" required>
                    </div>
                    <div class="form-group mb-0 text-end">
                        <button type="button" class="btn btn-light" id="add-button">Add</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="container m-5" id="project_data">
                        <table class="table-bordered table-sm" id="activity-table">
                            <thead>
                                <tr class="text-center">
                                    <th width="15%">Project Number</th>
                                    <th width="13%">Month</th>
                                    <th width="13%">Fixed Cost</th>
                                    <th width="13%">Running Cost</th>
                                    <th width="13%">Obligoes</th>
                                    <th width="13%">Activities</th>
                                    <th width="10%">VGK</th>
                                    <th width="10%">Adjustments</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <div class="form-group mt-3 text-end">
                            <button type="button" class="btn btn-light" id="submit-button">Submit</button>
                        </div>
                    </div>
                </div>

              

            </div>
        </form>
        <div class="alert alert-info {% if message == 'False' %} visually-hidden {% endif %}">{{message}}</div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var project_data = [];

        // Function to show/hide the table based on row count
        function toggleTableVisibility() {
            var rowCount = $('#activity-table tbody tr').length;
            if (rowCount > 0) {
                $('#project_data').show();
            } else {
                $('#project_data').hide();
            }
        }

        toggleTableVisibility();
        // Add button click event
        $('#add-button').click(function (e) {
            e.preventDefault();

            // Retrieve input values
            var project_id = $('#project_id').val();
            var project_number = $('#project_id option:selected').text();;
            var month_year = $('#month_year').val();
            var fixed_cost = parseFloat($('#fc_actuals').val()).toFixed(2);
            var running_cost = parseFloat($('#rc_actuals').val()).toFixed(2);
            var activities = parseFloat($('#ac_actuals').val()).toFixed(2);
            var obligoes = parseFloat($('#ob_actuals').val()).toFixed(2);
            var vgk = parseFloat($('#vgk').val()).toFixed(2);
            var others = parseFloat($('#advances').val()).toFixed(2);

            // Add data to activities array
            project_data.push({
                project_number: project_number,
                project_id: project_id,
                month_year: month_year,
                fixed_cost: fixed_cost,
                running_cost: running_cost,
                activities: activities,
                obligoes: obligoes,
                vgk: vgk,
                others: others,
            });
            console.log(project_data)

            // Append row to table
            var row = '<tr>' +
                '<td>' + project_number + '</td>' +
                '<td class="text-center">' + month_year + '</td>' +
                '<td class="text-end">' + fixed_cost + '</td>' +
                '<td class="text-end">' + running_cost + '</td>' +
                '<td class="text-end">' + activities + '</td>' +
                '<td class="text-end">' + obligoes + '</td>' +
                '<td class="text-end">' + vgk + '</td>' +
                '<td class="text-end">' + others + '</td>' +
                '</tr>';
            $('#activity-table').append(row);


            // Clear input values
            // var project_id = $('#project_id').val(0);
            // var month_year = $('#month_year').val(0);
            var fixed_cost = $('#fc_actuals').val('');
            var running_cost = $('#rc_actuals').val('');
            var activities = $('#ac_actuals').val('');
            var obligoes = $('#ob_actuals').val('');
            var vgk = $('#vgk').val('');
            var others = $('#advances').val('');

            toggleTableVisibility();
        });
        // Submit button click event
        $('#submit-button').click(function (e) {
            e.preventDefault();

            // Send activities array to the server
            $.ajax({
                type: "POST",
                url: '/dataentry',
                data: {project_data: project_data},
                success: function (response) {
                    // Handle success response from the server
                    //alert(response.message);
                    // Clear table
                    $('#activity-table tbody').empty();
                    // Clear activities array
                    project_data = [];
                    toggleTableVisibility();
                },
                error: function (error) {
                    // Handle error response from the server
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}