<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NRMAe Projects</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />

  <style>
    section {
      min-height: 100vh;
      min-width: 100vw;
    }

    section#section-1 {
      background-image: url('/static/assets/landing-bg.jpg');
    }

    section#section-2,
    #section-4 {
      background-color: #eeeeee;
    }

    .box {
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-name: fadeIn;
    }

    .box1 {
      animation-delay: 0.5s;
    }

    .box2 {
      animation-delay: 1s;
    }

    .box3 {
      letter-spacing: 2px;
      animation-delay: 1.5s;
    }

    .box4 {
      animation-delay: 1.5s;
    }

    @keyframes fadeIn {
      from {
        transform: translateY(50%);
        opacity: 0;
      }

      to {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    .fs-7 {
      font-size: 0.8rem;
    }

    .fs-8 {
      font-size: 0.7rem;
    }

    .bg-purple {
      background-color: purple;
      border-color: purple;
    }

    .accordion-button:not(.collapsed)::after {
      color: #eeeeee;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    #section-2 .list-group-item.active {
      border-color: transparent;
    }
  </style>
</head>

<body>
  <section id="section-1">
    <nav class="navbar">
      <!-- <div class="fs-5 fw-bold d-none d-md-block text-white"><a href="{{ url_for('.financials') }}" class="text-white btn btn-sm">
        <i class="bi bi-arrow-left-circle"></i>&nbsp;Dashboard
      </a></div> -->
      <div class="text-white text-start">
        <a href="{{ url_for('.financials') }}" class="text-white btn btn-sm">
          <i class="bi bi-arrow-left-circle"></i>&nbsp;Dashboard
        </a>
    </div>
    </nav>
    <div class="container-fluid text-white">
      <div class="pt-md-5 h-50 w-100 text-center box box1">
        <div class="display-5 mt-4">All NRM & Agroecology Projects</div>
        <div class="h4 opacity-50">AV: Rajeev Ahal</div>
      </div>
      <div class="position-absolute bottom-0 pb-1 w-100 box box2">
        <div class="d-none d-md-block">
          <div class="text-center">
            <h6>Commission Value <span class="fw-lighter">(in Million Euros)</span></h6>
          </div>
          <div class="row border-top mb-3 text-center">
            <div class="col border-end mt-3">
              <span class="display-4">{{'%0.2f'|format(total_commission)}}</span>
              <h6 class="font-monospace">Total Volume</h6>
            </div>
            <div class="col border-end mt-3">
              <span class="display-4 text-nowrap">{{'%0.2f'|format(total_bilateral)}}
                <h6 class="font-monospace">
                  Total Bilateral
                </h6>
            </div>
            <div class="col mt-3">
              <span class="display-4">{{'%0.2f'|format(total_sewoh)}}</span>
              <h6 class="font-monospace">Total SEWOH</h6>
            </div>
          </div>
        </div>
        <div class="d-md-none">
          <div class="row border-top text-center m-1 d-md-none">
            <div class="col">
              <span class="fs-6">{{ '%0.2f'|format(total_commission) }}</span>
              <div class="font-monospace fs-8">Total Volume</div>
            </div>
            <div class="col">
              <span class="fs-6 text-nowrap">{{ '%0.2f'|format(total_bilateral) }}
                <div class="font-monospace fs-8">
                  Total Bilateral
                </div>
            </div>
            <div class="col">
              <span class="fs-6">{{ '%0.2f'|format(total_sewoh) }}</span>
              <h6 class="font-monospace fs-8">Total SEWOH</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-2">
    <div class="container-fluid">
      <div class="d-none d-md-block">
        <div class="row">
          <div class="col-2" style="height: 100vh; background-image: url('/static/assets/landing-bg.jpg')">

            <form method="post" action="{{ url_for('.projects') }}" enctype="multipart/form-data" class="mt-5">
              <!--PROJECT NAME FILTER-->
              <div class="mt-5">
                <div class="accordion bg-transparent" id="accordionExample">
                  <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-transparent font-monospace fs-6 text-white" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">SELECT PROJECT</button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="list-group list-group-flush">
                        {% for project in projects %}
                        <input type="submit" class="btn-check" name="projectName"
                          id="{{'list-item-' + project['shortname']}}" autocomplete="off" value="{{project['id']}}" />
                        <label
                          class="list-group-item list-group-item-action fs-7 {{'bg-light text-dark active' if filter_project==project['id'] else 'bg-transparent text-white'}}"
                          for="{{'list-item-' + project['shortname']}}" aria-current="true">{{project['shortname']}}</label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="col-10 d-flex align-items-center">
            <div class="card m-5 col-md-5 col-sm-3 mx-auto">
              <div class="card-header bg-purple">
                <div class="text-center">
                  <h4 class="text-white">
                    {{ project_desc['shortname'] | upper()}}
                  </h4>
                </div>
              </div>
              <div class="card-body">
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Project Name</div>
                  <div class="fs-6 text-secondary">
                    {{project_desc['fullname']}}
                  </div>
                </div>
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Project Number</div>
                  <div class="fs-6 text-body-secondary">
                    {{ project_desc['project_number'] }}
                  </div>
                </div>
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Commission Value</div>
                  <div class="fs-6 text-body-secondary">
                    &#8364; {{'%0.2f'|format(project_desc['comm_value']) }}
                  </div>
                </div>
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Project Objective</div>
                  <div class="fs-6 fst-italic text-body-secondary">
                    {{project_desc['project_objective']}}
                  </div>
                </div>
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Project Duration</div>
                  <div class="fs-6 text-body-secondary">
                    {{ project_desc['from_date'] | upper()}} to {{ project_desc['to_date'] | upper()}}
                  </div>
                </div>
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Implementing Partner</div>
                  <div class="fs-6 text-body-secondary">
                    {{project_desc['implementing_partner']}}
                  </div>
                </div>
                <div class="mb-2">
                  <div class="fw-bolder fs-7">Implementing States</div>
                  <div class="fs-6 text-body-secondary">
                    {{project_desc['implementing_states']}}
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-between">
                  <div class="lead fs-6">
                    <span class="fw-bold">AV/DV:
                      {% if project_desc['dv']| length > 0 %}
                      {{ project_desc['dv'] }}
                      {% else %}
                      {{ project_desc['av'] }}
                      {% endif %}
                    </span>
                  </div>
                  <div class="lead fs-6">
                    <span class="fw-bold">FM:
                      {{project_desc['fm']}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        <div class="container mb-5">
          <div class="align-items-center justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide pt-5">
              <div class="carousel-indicators">
                {% for project in projects %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index-1}}"
                  class="{% if loop.index0 == 0 %} active {% endif %}" aria-current="true"
                  aria-label="Slide 1"></button>
                {% endfor %}
                <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
              </div>
              <div class="carousel-inner">
                {% for project in projects %}
                <div class="carousel-item {%if loop.index0 == 0%} active {% endif %} bg-transparent">
                  <div class="card mb-5 mx-auto">
                    <div class="card-header bg-purple">
                      <div class="text-center">
                        <h4 class="text-white">
                          {{ project['shortname'] | upper()}}
                        </h4>
                      </div>
                    </div>
                    <div class="card-body" style="height:80vh">
                      <div class="mb-2">
                        <div class="fw-bolder fs-7">Project Name</div>
                        <div class="fs-6 text-secondary">
                          {{project['fullname']}}
                        </div>
                      </div>
                      <!-- <div class="mb-2">
                        <div class="fw-bolder fs-7">Project Number</div>
                        <div class="fs-6 text-body-secondary">
                          {{ project['project_number'] }}
                        </div>
                      </div> -->
                      <div class="mb-2">
                        <div class="fw-bolder fs-7">Commission Value</div>
                        <div class="fs-6 text-body-secondary">
                          &#8364; {{'%0.2f'|format(project['comm_value']) }}
                        </div>
                      </div>
                      <!-- <div class="mb-2">
                        <div class="fw-bolder fs-7">Project Objective</div>
                        <div class="fs-6 fst-italic text-body-secondary">
                          {{project['project_objective']}}
                        </div>
                      </div> -->
                      <div class="mb-2">
                        <div class="fw-bolder fs-7">Project Duration</div>
                        <div class="fs-6 text-body-secondary">
                          {{ project['from_date'] | upper()}} to {{ project['to_date'] | upper()}}
                        </div>
                      </div>
                      <div class="mb-2">
                        <div class="fw-bolder fs-7">Implementing Partner</div>
                        <div class="fs-6 text-body-secondary">
                          {{project['implementing_partner']}}
                        </div>
                      </div>
                      <div class="mb-2">
                        <div class="fw-bolder fs-7">Implementing States</div>
                        <div class="fs-6 text-body-secondary">
                          {{project['implementing_states']}}
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="d-flex justify-content-between ">
                        <div class="lead my-auto">
                          <span class="fw-bold fs-8">AV/DV:
                            {% if project['dv']| length > 0 %}
                            {{ project['dv'] }}
                            {% else %}
                            {{ project['av'] }}
                            {% endif %}
                          </span>
                        </div>
                        <div class="lead">
                          <span class="fw-bold fs-8">FM:
                            {{project['fm']}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- <div class="carousel-item">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">Second slide</text></svg>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">Third slide</text></svg>
          </div> -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section-3" class="d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="display-6 text-center mb-md-5 text-dark">NRM PROJECTS DISTRIBUTION</div>
      <div class="fs-8 text-center text-body-secondary d-sm-none opacity-75">(for better view rotate to LANDSCAPE)
      </div>
      <div class="row">
        <div class="col my-auto">
          <div class="p-5">
            <div class="text-center"><h6>PROJECTS VOLUME DISTRIBUTION</h6></div>
            <canvas id="myDoughnut" class="m-md-5">
            </canvas>
          </div>
        </div>
        <div class="col my-auto">
          <div class="text-center"><h6>PROJECTS TYPE DISTRIBUTION</h6></div>
          <div class="d-flex justify-content-center">            
            <canvas id="myBar">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@2.3.0/dist/chartjs-chart-treemap.min.js"></script>
  <script>
    const myCarouselElement = document.querySelector('#carouselExampleIndicators')

    const carousel = new bootstrap.Carousel(myCarouselElement, {
      interval: 2000,
      touch: true
    });

    const dataDoughnut = {
      labels: {{ chartdata['types']| safe}},
    datasets: [{
      label: 'Volume',
      data: {{ chartdata['comm_values']| safe }},
      backgroundColor: ['#355070', '#6d597a', '#b56576', '#e56b6f', '#eaac8b'],
      borderColor: ['#355070', '#6d597a', '#b56576', '#e56b6f', '#eaac8b'],
      hoverOffset: 4
        }]
      };
    const configDoughnut = {
      type: 'doughnut',
      data: dataDoughnut,
      options: {
        plugins: {
          legend: {
            display: false
          },
        }
      }
    };

    const doughnutChart = new Chart(
      document.getElementById('myDoughnut'),
      configDoughnut
    );
    const dataBarchart = {
      labels: {{ chartdata['types']| safe}},
    datasets: [{
      label: 'PROJECT TYPE DISTRIBUTION',
      data: {{ chartdata['project_numbers']| safe }},
      backgroundColor: ['#355070', '#6d597a', '#b56576', '#e56b6f', '#eaac8b'],
      borderColor: ['#355070', '#6d597a', '#b56576', '#e56b6f', '#eaac8b'],
      hoverOffset: 4
      }]
    };
    const configBar = {
      type: 'bar',
      data: dataBarchart,
      options: {
        plugins: {
          legend: {
            display: false
          },
        }
      }
    };
    const barChart = new Chart(
      document.getElementById('myBar'),
      configBar
    );
  </script>
</body>

</html>