{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="alert alert-dismissible alert-light my-5 text-center">
    <h5>View Participants</h5>
  </div>
  {% for participant in participants%}
  <div class="card m-2 shadow-sm bg-dark text-light rounded-1">
    <div class="card-body">
      <div class="fs-5">{{ "Mr." if participant.gender=='M' else 'Ms.'}} {{participant.full_name }}</div>
      <div class="fw-lighter fs-7">{{ 'Official' if participant.desig_id=="" else participant.desig_id  }}, {{'MGNREGA' if participant.dept_or_org=='nan' else participant.dept_or_org }}</div>      
      <div class="card-text fst-italic">{{ participant.title }}</div>
      <div class="row mt-2">
        <div class="col">
          <div><strong>Email:</strong>{{ participant.email_address}}</div></div>
          <!-- <div class="col text-end">
            <a href="#" class="btn btn-sm btn-light"><i class="fa-solid fa-trash-can"></i></a> &nbsp;
            <a href="#" class="btn btn-sm btn-light"><i class="far fa-edit"></i></a>
          </div> -->
      </div>

    </div>
  </div>
  {% endfor %}
  <table class="table table-condensed table-bordered table-active">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Event Title</th>
        <th>Date of Event</th>
        <th>Time</th>
        <th>Venue</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in events%}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ participant.title }}</td>
        <td>{{ participant.schedule | date('%d %b %Y') }}</td>
        <td>{{ participant.schedule | date('%I:%M %p') }}</td>
        <td>{{ participant.district_code }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-dark"><i class="fa-solid fa-trash-can"></i></button>
          <button class="btn btn-sm btn-dark"><i class="far fa-edit"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-center">
    <ul class="pagination pagination-sm">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}