{%extends 'base.html'%}
{%block title%}
<title>E-Saksham</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{%endblock%}
{%block content%}
<div class="container-fluid m-0 justify-content-center p-0" style="background-color: #313962; width: 100%;">
    <div class="container d-flex pt-5 ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/rqBq6oPpPZg"
            title="Introduction to E-Saksham" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="row justify-content-around py-2">
        <div class="col-4">
            <div class="d-grid gap-2">
                <button class="btn text-nowrap fs-6" style="background-color: #1E96D2; color:#fff">Who should do this course?</button>
            </div>
        </div>
        <div class="col-4">
            <div class="d-grid gap-2">
                <button class="btn text-nowrap fs-6" style="background-color: #1E96D2; color:#fff">Why this course?</button>
            </div>
        </div>
    </div>
    <!-- <div class="container d-flex mt-5 justify-content-center roboto">
        <div class="row justify-content-between">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" onclick="scrollToDiv('why-this-course')" class="btn text-white no-loader"
                        style="background-color: #1E96D2; width: 16rem;">Why
                        this Course?</button>
                </div>
                <div class="btn-group ms-2 me-2" role="group" aria-label="First group">
                    <button type="button" onclick="scrollToDiv('who-should-do-this-course')"
                        class="btn text-white no-loader" style="background-color: #1E96D2; width: 16rem;">Who
                        should do this course?</button>
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="row justify-content-center p-0 m-0" style="z-index: 999; position: absolute; width: 100%;">        
        <div class="row d-flex justify-content-center mt-4">
            <div class="container" style="width: fit-content;">
                <div class="dot justify-content-center">
                    <div class="vertical"></div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 230px;">
            <div class="container" style="width: fit-content;">
                <img src="{{ url_for('static', filename='assets/sat_icon.png') }}" />
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <div class="container" style="width: fit-content;">
                <div class="vertical-small"></div>
            </div>
        </div>
        <div class="row d-flex justify-content-center m-0" style="padding-top: 50px; padding-right: 0.6rem;">
            <div class="container" style="width: fit-content;">
                <div class="dot justify-content-center"></div>
            </div>
        </div>
    </div>
    <div class="row m-0" style="width: 100%;">
        <svg class="svg-overlay p-0" viewBox="0 0 1903 400" preserveAspectRatio="xMinYMin">
            <rect clip-path="url(#thim_svg_65eae374d0fb8)" class="svg-background" width="1903" height="400"
                fill="#ffffff" />
            <image clip-path="url(#thim_svg_65eae374d0fb8)" class="svg-image animation" x="1301" y="0" width="602"
                height="406" xlink:href="{{ url_for('static', filename='assets/overlay-122-1.jpg') }}" />
        </svg>
        <svg class="svg-clip-path" style="background-color:white; height:0px">
            <defs>
                <clipPath id="thim_svg_65eae374d0fb8">
                    <polygon points="1903 1903, 0 1903, 0 379, 1903 0" />
                </clipPath>
            </defs>
        </svg>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center fw-semibold fs-3 mt-3">
        About this course
    </div>
    <div class="row mt-3">
        <div class="col-md-4 col-sm-12 mt-2">
            <div class="card shadow justify-content-center" style="border-color: white; min-height: 350px;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/group-3.jpg') }}" class="card-img-top" alt="...">
                </div>

                <div class="card-body">
                    <div class="container d-flex justify-content-center text-center">
                        <h5 class="card-title">Integrated Natural Resource Management</h5>

                    </div>
                    <div class="container d-flex justify-content-center text-center text-secondary">
                        <p class="card-text">Learn about Integrated Natural Resource Management with a dedicated course
                            on INRM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <div class="card shadow justify-content-center" style="border-color: white; min-height: 350px;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/group-4.jpg') }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <div class="container d-flex justify-content-center text-center">
                        <h5 class="card-title">Web Based Geospatial Information System</h5>
                    </div>
                    <div class="container d-flex justify-content-center text-center text-secondary">
                        <p class="card-text">Learn how to use Web based Geospatial Information System application such
                            as Bhuvan, Google Earth Pro etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-2">
            <div class="card shadow justify-content-center" style="border-color: white; min-height: 350px;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/layer-86.jpg') }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <div class="container d-flex justify-content-center text-center">
                        <h5 class="card-title">Guidelines for developing GP Plans</h5>
                    </div>
                    <div class="container d-flex justify-content-center text-center text-secondary">
                        <p class="card-text">Guidelines for developing GP Plans for INRM, Mission Water Conservation
                            (MWC), Pradhan Mantri Krishi Sinchai Yojna (PMKSY) etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center fw-semibold fs-1 mt-3" id="why-this-course">
        Why this course?
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card justify-content-center" style="border-color: white;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/Blank_Diagram_2-e1531941866327-768x757.png') }}"
                        class="card-img-top img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card justify-content-center" style="border-color: white;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/Untitled1-768x759-2.png') }}" class="card-img-top img-fluid"
                        alt="...">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card justify-content-center" style="border-color: white;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/Untitled2-768x777-2.png') }}" class="card-img-top img-fluid"
                        alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center fw-semibold fs-1 mt-3" id="who-should-do-this-course">
        Who should do this course?
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card justify-content-center" style="border-color: white;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/Blank-Diagram-2-768x651.png') }}"
                        class="card-img-top img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card justify-content-center" style="border-color: white;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/Blank-Diagram-3-768x660.png') }}"
                        class="card-img-top img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card justify-content-center" style="border-color: white;">
                <div class="container p-3" style="width: fit-content;"><img
                        src="{{ url_for('static', filename='assets/Blank-Diagram-4-768x668.png') }}"
                        class="card-img-top img-fluid" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block script%}

<script>
    // Function to scroll to a specific div
    function scrollToDiv(divId) {
        var targetDiv = document.getElementById(divId);
        if (targetDiv) {
            targetDiv.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    }
</script>

{%endblock%}